* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 255, 0.6),
    rgba(128, 0, 128, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  min-height: 100vh;
  font-family: "inter", sans-serif;
}

button {
  cursor: pointer;
}

/* STYLING CONTAINERS */
.app-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 50px;
}

#home-screen,
#quiz {
  background: linear-gradient(
    135deg,
    rgba(210, 210, 232, 0.6),
    rgba(128, 0, 128, 0.3),
    rgba(239, 238, 255, 0.7)
  );
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
}

.progress-bar {
  height: 12px;
  width: 100%;
  background-color: white;
  border-radius: 50px;
  overflow: hidden;
}

#progress {
  height: 100%;
  background-color: rgb(28, 110, 28);
  width: 0%;
  transition: all 0.4s ease;
}

.topic-btn {
  background-color: rgb(209, 209, 225);
  margin-bottom: 30px;
  border-radius: 50px;
  padding: 10px;
  font-size: 20px;
  border: none;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.topic-btn:hover {
  transform: scale(110%);
}

.heading-container,
.quiz-heading {
  padding: 4cqmin 60px 50px 60px;
}

#topics-container {
  padding-top: 60px;
  padding-bottom: 40px;
  padding-right: 60px;
  padding-left: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3),
    rgba(239, 238, 255, 0.7)
  );
}

.screens {
  max-width: 1200px;
  width: 90%;
}

#question {
  font-size: 20px;
}
.answers-container {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 10px;
}

#answer-options {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.correct {
  background-color: rgb(159, 223, 159);
}

.incorrect {
  background-color: rgb(213, 128, 128);
}

#next-btn {
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

#next-btn:hover {
  transform: scale(110%);
  background-color: rgba(141, 141, 141, 0.2);
}

#topics-container p {
  font-size: 20px;
  padding-bottom: 40px;
}

/* RESULTS SCREEN */
#results-screen {
  background-color: white;
  margin-top: 50px;
  padding: 30px 40px;
  border-radius: 50px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
}

#results-screen button {
  margin-top: 40px;
  font-size: 20px;
  color: white;
  border-radius: 50px;
  border: none;
  background-color: rgb(67, 43, 67);
  padding: 20px;
  transition: all 0.3s;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
}

/* button hover */
#results-screen button:hover {
  transform: scale(110%);
}

#results-screen h2 {
  margin-top: 50px;
  margin-bottom: 40px;
}

#final-score {
  font-size: 30px;
}
/* universal text styling */

h1 {
  font-size: 40px;
  margin-bottom: 60px;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
h3 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}

#score {
  margin-bottom: 20px;
}
p {
  font-size: 20px;
  font-weight: 500;
}

.hidden {
  display: none;
}

/* mobile view */
@media (min-width: 360px) and (max-width: 767px) {
  .app-container h1 {
    font-size: 30px;
  }

  .screens {
    max-width: 240px;
  }

  .heading-container h2 {
    font-size: 20px;
    padding-top: 10px;
  }

  .heading-container p {
    font-size: 15px;
  }

  .topic-btn {
    font-size: 12px;
    margin-bottom: 10px;
  }

  #topics-container {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

/* tablet view */
@media (min-width: 768px) and (max-width: 1024px) {
  .app-container h1 {
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 10px;
  }

  .screens {
    min-width: 800px;
    margin-top: 150px;
  }

  .heading-container h2 {
    font-size: 50px;
    padding-top: 10px;
  }

  .heading-container p {
    font-size: 30px;
  }

  .topic-btn {
    font-size: 40px;
    margin-bottom: 35px;
  }

  #topics-container {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}
